 html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: white;
	overflow: scroll;
}

.form-group input{
	width: 300px;
}

.form-group .text-area{
	resize: none;
	width: 40%;
  }

h5{
	font-weight: bold;
	color: brown;
	font-style: italic
}

.form-group textarea{
width: 300px;
}

.etichetta {
	font-weight: normal !important;
	width: 40%;
}

.form-group .totale{
	background-color: rgb(204, 255, 51)
}

.etichetta, .form-group input
{
	float: none;
	display: inline-block;
	vertical-align: middle;
}   

.bodyForm{
  margin: 25px;
}

h3{
  color: red
}

/*TAB*/
/* Stile della tab */
.tab {
	overflow: hidden;
	border: 1px solid white;
	background-color: white;
	position: fixed;
	top: 0; 
	width: 100%;
}

/* Stile dei bottoni delle tab*/
.tab button {
	background-color: white;
	float: left;
	border: none;
	cursor: grab;
	padding: 7px 8px;
	transition: 1s;
	font-family: 'Segoe UI';
}

/* Cambia colore del bottone quando ci si passa sopra con il cursore */
.tab button:hover {
	background-color: lightcoral;
}

/* Stile del bottone della tab attiva */
.tab button.active {
	background-color:lightcoral;
}

/* Style the tab content */
.tabcontent {
	display: none;
	padding: 6px 12px;
	border-top: none;
	animation:  fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
	from {opacity: 0;}
	to {opacity: 1;}
}