html, body, .container-fluid {
  background-color: white;
}

.text-input {
  font-size: 12px;
}

.hash-output {
  font-size: 16px;
  letter-spacing: 2px;
  white-space: pre-wrap;
}

.hash-heading {
  font-weight: normal;
}

.mainWrapper{
  margin: 25px;
}
