 html, body {
  width: 100%;
  height: 100%;
  margin-top: 30px;
  background-color: white;
  overflow: scroll;
}

.form-group input{
	width: 300px;
}

.dropdownRiclassificazioneSP{
	width: 300px;
	float: none;
	display: inline-block;
	vertical-align: middle;
}

.dropdownRiclassificazioneSP tipologiaSP{
	width: 300px;
	float: none;
	display: inline-block;
	vertical-align: middle;
}

.form-group .text-area{
	resize: none;
	width: 40%;
  }

h5{
	font-weight: bold;
	color:rgb(100, 17, 17);
	font-style: italic
}

.form-group textarea{
width: 300px;
}

.etichetta {
	font-weight: normal !important;
	width: 40%;
}

.form-group .totale{
	background-color: rgb(204, 255, 51)
}

.etichetta, .form-group input
{
	float: none;
	display: inline-block;
	vertical-align: middle;
}   

.bodyForm{
  margin: 25px;
}

h2{
	display: none;
}

h3{
	color:rgb(100, 17, 17);
}

/*TAB*/
/* Stile della tab */
.tab {
	overflow: hidden;
	background-color:white;
	position: fixed;
	top: 0; 
	width: 95%;
	color: rgb(65, 11, 11);
}

/* Stile dei bottoni delle tab*/
.tab button {
	color: rgb(65, 11, 11);
	border: 3px solid white;
	background-color:rgb(217, 217, 217);
	float: left;
	border: 3px solid rgb(65, 11, 11);
	cursor: grab;
	padding: 7px 8px;
	transition: 1s;
	font-family: 'Segoe UI';
	margin-right: 1px;
}

/* Cambia colore del bottone quando ci si passa sopra con il cursore */
.tab button:hover {
	background-color: white;
	color:rgb(65, 11, 11);
}

/* Stile del bottone della tab attiva */
.tab button.active {
	background-color:rgb(65, 11, 11);;
	color:rgb(217, 217, 217);
}

/* Stile del contenuto delle tab */
.tabcontent {
	display: none;
	padding: 6px 12px;
	border-top: none;
	/*animazione:  fadeEffect 0.5s; /* Fading effect in 1 secondo */
}

.bottoneStampaPdf{
	margin-top: 30px;
	margin-left: 30px;
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
	from {opacity: 0;}
	to {opacity: 1;}
}

@media print{
	::-webkit-scrollbar{
		width: 0px;
		background: transparent;
	}
	.bottoneStampaPdf{
		display: none
	}
	.tab{
		display: none
	}
	.tabcontent h2{
		display: block !important;
		color:rgb(100, 17, 17);
	}
	.tabcontent{
		display: block !important;
	}
	.form-group .totale{
		background-color: rgb(204, 255, 51)
	}
	#FrontespizioPdf{
		display: block !important;
		page-break-after: always;
	}
}
